{% extends 'base.html' %}

{% block menu %}
    <nav class="nav">
        {% for category in categories %}
        <a href="#" class="nav-link">{{ category.name }}</a>
        {% endfor %}
    </nav>
{% endblock %}