{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    {% for post in posts %}

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.name }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                    <p class="small">Status: {{ post.status }}</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}